* {
    margin: 0;
    font-family: 'Work Sans';
}

/* banner styles */

.banner {
    display: flex;
}

.banner-heading {
position: absolute;
width: 525px;
height: 228px;
left: 845px;
top: 216px;
font-weight: 700;
font-size: 65px;
text-align: right;
color: #FFFFFF;
}

.banner-text {
position: absolute;
width: 494px;
height: 78px;
left: 876px;
top: 468px;
font-weight: 400;
font-size: 22px;
text-align: right;
line-height: 26px;
color: #FFFFFF;
}

.btn-primary {
    color: #005FAC;
    position: absolute;
width: 160px;
height: 64px;
left: 1210px;
top: 578px;

background: #FFFFFF;
border-radius: 5px;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
}

/* my-failure styles */

.my-failure {
    display: flex;
}

.failure-title {
position: absolute;
width: 288px;
height: 94px;
left: 862px;
top: 1050px;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414;
}

.failure-description {
position: absolute;
width: 416px;
height: 104px;
left: 862px;
top: 1150px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;
}

.list-item {
position: absolute;
width: 349px;
height: 162px;
left: 862px;
top: 1260px;
}